.ant-upload-drag-container {
  padding-left: 1em;
  padding-right: 1em;
}

.anticon-inbox {
  color: var(--Primary) !important;
}

.v-q-cont.b img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
