.landing-header {
  font-size: 3.5em;
  z-index: 3;
}

.landing-header .bigger {
  font-size: 3.5em;
  line-height: 0.9em;
  letter-spacing: 0.1em;
}

.land-cont h4 {
  max-width: 30em;
}

.landing-desc {
  z-index: 3;
}

.phn {
  font-size: 1.5em;
  z-index: 3;
}

.land-cont {
  position: relative;
  right: 10em;
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .landing-header {
    font-size: 2em;
    text-align: center;
  }

  .land-cont {
    right: 0em;
  }

  .land-cont h4 {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .land-cont .btn-cont {
    margin: 0 auto;
  }

  .phn {
    font-size: 1em;
  }

  #limited * {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .naityfv-height.has-bg {
    min-height: 40em;
  }
}
