.bg-color {
  background-image: url('https://res.cloudinary.com/trinum-daniel/image/upload/q_100,w_1500/v1612331244/sd-urbanprints/gold-polygonal-pattern-light-background_siqiay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.model-c {
  height: 50em;
  width: 20em;
}

.m-cont {
  width: 100%;
  height: 90%;
  background: white;
}

.m-cont.b {
  height: 100%;
  background: var(--Primary);
}

.model-c:first-child .m-cont:not(.b) {
   border-top-left-radius: 0.4em;
   border-bottom-left-radius: 0.4em;
}

.model-c:last-child .m-cont:not(.b) {
   border-top-right-radius: 0.4em;
   border-bottom-right-radius: 0.4em;
}

.m-cont.b {
  border-radius: 0.4em;
}

.m-cont.b button:hover {
  color: white !important;
}

.m-c-p {
  font-size: 3.5em;
}

.divider {
  background-color: var(--TertiaryTint);
  opacity: 0.3;
  height: 0.15em;
  width: 60%;
  border-radius: 0.1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.divider.sm {
  width: 40%;
}


.radio-cont {
  margin: 0.4em;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    box-sizing: content-box;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--Primary);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pr {
  width: 30em;
}

.m-cont.b .divider {
  background-color: white;
}

.m-cont.b p {
  max-width: 80%;
}

@media (max-width: 800px) {
  .pr {
    max-width: 90%;
    font-size: 0.85em;
  }

  .f-con {
    min-width: 90%;
    max-width: 90%;
  }

  .radio-h {
    text-align: center;
  }

  .file-input svg {
    display: none;
  }
}
