.socials-side {
  height: 2em;
  position: relative;
  width: 100%;
  z-index: 10000;
  transition: transform 0.4s;
  overflow: hidden;
  margin-bottom: 0.2em;
}

.socials-side > .content {
  min-width: 2em;
  position: relative;
  border-radius: 0.2em;
}

.socials-side > .content > .ico-cont {
  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  transition: background-color 0.5s;
}

.socials-side > .content > .ico-cont:hover {
  background-color: var(--PrimaryTint);
}

.socials-side > .content > .ico-cont:hover * {
  color: white;
}

.socials-side > .content > .ico-cont > a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 !important;
}

@media (max-width: 800px) {
  .socials-side > .content > div:not(.ico-cont) {
    display: none;
  }
}
