nav {
  min-height: 4em;
  margin: 0 auto;
  padding: 0.2em 0.5em 0.2em 0.5em;
  background-color: #000;
}

nav.trans {
  background-color: transparent;
}

nav.bigger {
  min-height: 8em;
}

nav.collapses {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow: hidden;
  visibility: hidden;
  min-height: 0 !important;
  height: 0px !important;
  transition: min-height 0.2s;
}

nav.collapses.show {
  visibility: visible;
  height: auto;
  min-height: 64px !important;
}

nav.elevate {
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);
}

nav .iconion {
  margin-left: 0.8em;
  margin-right: 0.8em;
  height: 4.5em;
  object-fit: contain;
}

nav.bigger .iconion {
  height: 7em;
}

nav *:not(.spacer) {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.nav-tab {
  min-width: 8em;
  text-align: center;
  height: 2.5em;
  position: relative;
  transition: all 0.3s;
  border-radius: 1.5em;
}

.has-bg > nav * {
  z-index: 1;
}

.nav-tab:hover {
  background-color: #C6A156;
  color: var(--Tertiary);
}

@media (max-width: 800px) {
  .nav-tab:not(.keep) {
    display: none;
  }

  nav > .spacer {
    display: none;
  }
}
