.v-cont * {
  color: var(--PrimaryTint);
}

.srvcs-card {
  height: 17em;
  width: 17em;
  padding: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.srvcs-card-sm {
  height: 10em;
  width: 10em;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.qs-inp-h input {
  width: 25em;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.qs-header-start {
  position: relative;
}

#qs-header-start {
  position: absolute;
  top: -9em;
}

.v-q-cont {
  width: 17em;
  height: 22em;
  border-radius: 0.4em;
  margin-left: 1em;
  margin-right: 1em;
}

.v-q-cont + * {
  margin-top: 1em;
  max-width: 21em;
}

.v-q-c-h {
  max-width: 20em;
  width: 20em;
}

.v-q-c-t {
  max-width: 23em;
  width: 23em;
}

.qs-c-a {
  background-color: #C6A156;
}

.qs-c-a * {
  color: white;
}

.v-cs-cont {
  margin: 0 auto;
  max-width: 80%;
}

.v-cs-cont > div {
  margin-top: 1em;
  margin-bottom: 2em;
}

.v-c-cont {
  height: 6em;
  width: 6em;
  margin: 2em;
  border-radius: 0.4em;
  background-color: white;
}

.v-p-cont > div {
  width: 60%;
  margin: 0 auto;
}

.v-p-cont h1, .qs-a-h{
  font-size: 3.2em;
}

.v-p-cont button {
  margin-left: 0;
  margin-right: 0;
  color: var(--Primary) !important;
}

.v-p-cont button:hover {
  background-color: var(--Primary) !important;
  color: var(--Tertiary) !important;
}


.srvcs-card img, .srvcs-card-sm img, .srvcs-card svg {
  height: 3em;
  width: 3em;
  object-fit: contain;
  border: 0.15em solid var(--Primary);
  border-radius: 50%;
  padding: 0.8em;
  margin-bottom: 0.8em;
}

.srvcs-card-sm img {
  height: 2em;
  width: 2em;
}

@media (max-width: 800px) {
  .v-c-cont {
    margin: 0.5em;
  }

  .v-cs-cont {
    max-width: 95%;
  }

  .v-p-cont * {
    justify-content: center;
    text-align: center;
  }
}
